@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  @apply bg-[whitesmoke] dark:bg-[#0E1117]
}
*{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}

